header{
    background-color: #bb0e0e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-size: 3em;
}
nav {
    background-color: #222;
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
    align-items: center;
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    width:100%;
    height:100%;
    font-size: 1.2em;
}
h2{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
    margin: auto 60px;
}
main div{
    flex: 1 1 400px;
    font-size: 1.1em;
    line-height: 1.3em;
}

footer{
    margin:0;
    background-color: #396e94;
    color: white;
    text-align: center;
    padding: 5px;
    position: sticky;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 700px){
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer{
        position: fixed;
    }
}