#cardDetails {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    width: 500px;
    height: 400px
}

#cardFront {
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    justify-content: center;
}
#cardFront *{
    display: grid;
}
#emoji {
    text-align: right;
}
#cardExpirationWrapper {
    grid-template-columns: 1fr 1fr;
}
#cardExpirationWrapper input{
    width: 90%;
}

#cardExpirationWrapper label {
    grid-column: 1/3;
}

#cardBack {
    grid-row: 2/4;
    grid-column: 2/4;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}
#CVCWrapper {
    grid-area: 3/2/4/3;
    padding: 10px;
} 
#CVCWrapper input{
    width:80%;
} 
#CVCWrapper label{
    width:80%;
} 
#bar{
    grid-area: 1/1/2/3;
    background-color: black;
}
button {
    grid-area: 4/3/5/4;
}