h1, h2 {
    font-family: "Amatic SC", sans-serif;
}
header{
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}
header img{
    width: 130px;
    height: 130px;
}
nav form{
    margin: 0 auto;
    display: flex;
    width: 70%;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    box-sizing: border-box;
}
nav input{
    flex: 1 1 250px;
    font-size: 1.2em;
}
nav button {
    padding: 4px;
    width: 50px;
    height: 50px;
    border-width: 0;
    background-color: white;
}
nav button img  {
    width: 100%;
    height: 100%;
}
nav button {
    border-left: 1px solid black;
}

.recipeCard {
    width: 70%;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.tags > *{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid grey;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 2px grey;
    width: fit-content;
}
h2 {
    color: rgb(77, 164, 198);
    font-size: 2em;
    margin: 5px 0;
}
.recipeDescription {
    display: none;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    width: 30px;
    height: 30px;
    margin: 1px;
}
footer {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 650px){
    .recipeCard {
        flex-direction: row;
        gap: 10px;
    }
    .recipeCard img {
        flex: 1 1 250px;
        width: 10px;
    }
    .recipeDetails {
        flex: 1 1 250px;
        width: 10px;
    }
    .recipeDescription {
        display: block;
    }
    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}