body {
    display: flex;
    justify-content: center;
    color:white;
}
#character {
    max-width: 40%;
    height: 90vh;
    background-color: rgb(0, 40, 40);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 9fr 1fr 3fr;
    justify-content: center;
}
#character div{
    padding: 0 20px;
}
#character h1{
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(0, 15, 15);
}
button{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
#characterImg{
    overflow: hidden;
    object-fit: cover;
    width:100%;
    height:100%;
    margin: 0;
}